body{

    margin: 0px;
    padding: 0px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/cc/Digital_rain_animation_medium_letters_shine.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    margin: auto;
    width: 960px;
    height:650px;
    padding: 5px;
    background: transparent;
}



.logo {
    width: 100%;
    float: left;
    background: transparent;

}.left{

    float:left ;
    width: 70%;
    height: 60%;
    border-radius: 24px;
    background: transparent;
}

.right{
    float:right;
    width: 30%;
    height: auto;
    border-radius: 24px;
    background: transparent
}

.left-button{
    float: left;
    width: 70%;
    height:auto;
    border-radius: 24px;
    background: transparent;
}
.logoImg{
    margin-top: 1%;
    margin-left: 5%;
    float: inherit;
                
}
    
.tittle{
    float:inherit;
    margin-left: 20%;
    color:#ECF0F1 ;
}

.textLeft{
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 80%;
    color: #ECF0F1;
    font-size: 20px;
    border: none;
    outline: none;
    background: transparent;
        
}

#imgenDerecha{
    margin-left: 2%;
    margin-top: 20%;
    width: 90%;
    height: 70%;
    opacity: 0.2 ; 
    
}
#text-right{
    float: left;
    margin-left: 10%;
    color: #ECF0F1;
    width: 80%;
    height: 30%;
    border: none;
    outline:none;
    font-size: 15px;
    background: transparent;

}

#botton-encriptar{

    padding: 10px; 
    width: 20%;
    height: 60%;
    border-radius: 24%;
    margin-left: 5%;
    background: #1D8348 ;
}
 

#botton-desencriptar{

    padding: 10px; 
    width: 20%;
    height: 60%;
    border-radius: 24%;
    margin-left: 11%;
    background: #1D8348 ;
}

#botton-copiar{

    padding: 10px; 
    width: 20%;
    height: 60%;
    border-radius: 24%;
    margin-left: 16%;
    margin-right: 5%;
    background: #1D8348 ;
}

#text2{
    margin-left: 5%;
    color:#ECF0F1;
         
}
